html {
  background-color: #829FB3;
  background-image: url('fresh-snow.png');
}

body:hover {
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}

h1 {
  font-size: 46px;
  font-family: 'Fondamento', cursive;
  margin: 0;
}

.start-game {
  display: block;
  z-index: 1;
  height: 200px;
  width: 700px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px;
}


.play {
  width: 950px;
  height: 600px;
  background-color: #ABB9C8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20%;
  box-shadow: 3px 3px rgba(0,0,0,.4), -1em 0 0.4em #D0F5FB;
}

.correct {
  border: 5px solid green;
}

.incorrect {
  border: 5px solid red;
}

.question-container {
  width: 745px;
  height: 195px;
  padding: 5px;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 15%;
  background: rgba(134,134,134,.4);
}

.problem {
  font-family: 'Tillana', cursive;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.answer-container {
  height: 250px;
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: transparent;
}

.option {
  height: 108px;
  width: 350px;
  color: #042756;
  background-color: yellow;
  box-sizing: border-box;
  padding: 12px 5px;
  text-align: center;
  border: 2px solid blue;
  margin: 5px;
  font-family: 'Fondamento', cursive;
  font-size: 26px;
  text-align: center;
  vertical-align: middle;
  border-radius: 17%;
  box-shadow: inset 0 10px 35px #000000;
}

.option:hover {
  cursor: pointer;
}

.clock {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer {
  width: 250px;
  height: 100px;
  border: 3px solid black;
  background: rgba(241, 241, 212, 1);
  background-image: url('gray-paper.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.time {
  font-weight: 700;
  font-family: fantasy;
  font-size: 60px;
}

.a0:active {
  background-color: #C7C4BC;
}
.a1:active {
  background-color: #C7C4BC;
}
.a2:active {
  background-color: #C7C4BC;
}
.a3:active {
  background-color: #C7C4BC;
}

.score {
  width: 300px;
  height: 100px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(241, 241, 212, 1);
  background-image: url('gray-paper.png');
}

.points {
  font-size: 60px;
  font-family: fantasy;
  font-weight: 700;
}
